{% extends 'base.html' %}

{% block title %}Criar Cadastro{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">Criar Novo Cadastro</h1>
  <form method="post">
    {% csrf_token %}
    <!-- Substituir pelos campos necessários -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'cadastros:cadastros' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
