.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.filtros {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filtros-opcoes label {
    margin-right: 10px;
}

.calendario {
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    background: #333;
    color: #fff;
    padding: 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.main-panel {
    margin-left: 250px;  
    padding: 20px;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  
  .dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  