<!--usuarios/templates/uauarios/password_reset_complete.html-->

{% extends 'base_login.html' %}
{% block title %}Senha Redefinida{% endblock %}

{% block extra_head %}
<style>
    .container {
        margin-top: 100px;
    }
    .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
    .btn-primary:hover {
        background-color: #1976D2;
        border-color: #1976D2;
    }
    
</style>
{% endblock %}

{% block content %}
<div class="page-header min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="alert alert-success mt-5">
                    <h4>Senha Redefinida com Sucesso</h4>
                    <p>Sua senha foi redefinida com sucesso. Agora você pode fazer login com a nova senha.</p>
                </div>
                <div class="text-center">
                    <a href="{% url 'usuarios:login' %}" class="btn btn-primary">Fazer Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
